.App {
  text-align: center;
  margin: 2%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-3{
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.67%;
  padding: 16px;
}

.col-6 {
  width: 50%;
  padding: 16px;
}

.col-8 {
  width: 66.666%;
  padding: 16px;
}

.col-12 {
  width: 100%;
  padding: 16px;
}

